<h2>Book Details</h2>
<hr>

<!-- Book details -->
<div class="container" *ngIf="book">       
  <ul class="list-group">
    <li class="list-group-item"><b>Book title :</b> {{book.bookTitle}}</li>
    <li class="list-group-item"><b>Book Auther :</b> {{book.bookAuther}}</li>
    <li class="list-group-item"><b>Book Description :</b> {{book.description}}</li>
</ul>
<h3> Book Reviews and Ratings </h3>
<hr>

<ul class="list-group" *ngFor="let comment of comments">
  <li class="list-group-item">Review Comments : {{comment.comments}}</li>
  <li class="list-group-item">Rating : {{comment.rating}}</li>
  <li class="list-group-item">User : {{comment.userName}}</li>
  <li class="list-group-item">Date : {{comment.date | date}}</li>
</ul>
</div>